{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        medley/medley {:mvn/version "1.4.0"}}
 :paths ["src" "vendor"]
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps
   {nrepl/nrepl {:mvn/version "1.0.0"}
    cider/cider-nrepl {:mvn/version "0.32.0-alpha1"}
    vvvvalvalval/scope-capture {:mvn/version "0.3.2"}}}
  :thing
  {:extra-deps
   {thi.ng/geom {:mvn/version "1.0.0"}
    org.jogamp.gluegen/gluegen-rt$natives-macosx-universal {:mvn/version "2.3.2"}
    org.jogamp.jogl/jogl-all$natives-macosx-universal {:mvn/version "2.3.2"}}}
  :lwjgl
  {:jvm-opts ["-XstartOnFirstThread"]
   :extra-deps
   {org.lwjgl/lwjgl {:mvn/version "3.3.2"}
    org.lwjgl/lwjgl$natives-macos {:mvn/version "3.3.2"}
    org.lwjgl/lwjgl-opengl {:mvn/version "3.3.2"}
    org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.3.2"}
    org.lwjgl/lwjgl-glfw {:mvn/version "3.3.2"}
    org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.3.2"}}}}}
